.AboutMe {
    display: flex;
    padding-bottom: 4em;

}
.AboutMe__avatar {
    width: 200px;
    height: 200px;

}

.AboutMe__info {
    padding-left: 3em;
    font-size: 1.2em;
}

.AboutMe__info h1 {
    margin-top: 0;
    margin-bottom: 0.1em;
}

.AboutMe__info span {
    font-weight: 500;
}

.AboutMe__contacts {
    margin-top: 1em;
}